@import url('https://fonts.proxy.ustclug.org/css?family=Roboto');

*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  height: 100%;
  background-color: #F4F5F5;
  font:14px/1.5 'Roboto',"webfont","Microsoft YaHei", sans-serif;
  color:#333;
  //background-image: url('../image/bg.png');
  background-size: cover;
}
ul,li{
  list-style: none;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.container{
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}
.flex-container{
  @extend .container;
  display: flex;
  align-items: center;
}
.panel{
  padding: 10px;
  background-color: #fff;
  box-sizing: border-box;
}
.nav-icon{
  width: 28px;
  height: 28px;
  font-size: 28px;
  &:hover{
    color: #0084FF;
  }
}
.list{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  &.vertical{
    flex-direction: column;
    .list-item:not(:last-of-type){
      flex: 1;
      margin-bottom: 15px;
    }
  }
}
.list-item{
  padding:3px 10px;
  margin: 0 5px;
}

.nav-list{
  @extend .list;
}
.nav-item{
  @extend .list-item;
  cursor: pointer;
  &.active{
    color: #0084FF;
  }
  &:hover{
    color: #339dff;
  }
}

.clearfix{
  &:after,&:before{
    display: table;
    content: "";
  }
  &:after{
    clear: both;
  }
}
